body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    
    background-image: url('https://i.pinimg.com/originals/1b/3c/58/1b3c5821c4ef798f196b30cc3eb46ac2.gif'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #333; 
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.T1 {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center; 
}

.Encabezado{
    justify-content:first baseline;
    align-items:first baseline;
    justify-items:first baseline;
    text-align:left;
    line-height:0%;
}

.Logo{
    width: 40%;
    height: 80%;
}

.ESPACIO{
 display: flex;             
    flex-direction: row;      
    justify-content: space-around; 
    align-items: flex-start;
}



.proyectos1, .proyectos2, .proyectos{
width: 45%; 
    background-color: aliceblue;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 20px #394fca;
    height: 15rem;
}
a{

    display: flex;
    align-items: center;
    justify-content: center
}

